@import "~bootstrap/scss/bootstrap";
@import "../../styles/utils";
@import "./MarkTable.module.scss";

.student-cell {
  @extend .text-truncate;
  width: $studentCellWidth;
  max-width: $studentCellWidth;
  cursor: pointer;
}

.in-edition {
  @extend .student-cell;
  width: $studentCellWidth * 2;
  max-width: $studentCellWidth * 2;
}

