@import "~bootstrap/scss/bootstrap";


.mark-table {
  @extend .table,
          .table-striped,
          .table-bordered,
          .table-sm,
          .small;

  table-layout: fixed;
  width: auto;

  border: none;

  thead {
    th {
      border: none;
    }
  }

  .student-column {
    width: 200px;
  }

  .rotated {
    height: 80px;
    width: 50px;
    //min-width: 40px;
    //max-width: 40px;
    position: relative;
    vertical-align: bottom;
    padding: 0;
    line-height: 0.8;
    //height: 140px;
    white-space: nowrap;

    > div {
      position: relative;
      top: 0;
      left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
      height: 100%;

      //transform:  translate(25px, 51px)
      //            rotate(315deg);
      //width: 30px;
      transform:skew(-45deg,0deg);
      overflow: hidden;
      border-left: 1px solid #dddddd;
      border-right: 1px solid #dddddd;
      border-top: 1px solid #dddddd;

      > span {
        transform:skew(45deg,0deg) rotate(315deg);
        position: absolute;
        bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
        left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
        display: inline-block;

        width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
        text-align: left;
      }
    }
  }
}