@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../styles/variables";

body {
  padding-top: 4em;
}

.app-container {
  @extend .container-fluid;

  > div {
    @extend .row;

    > div {
      @extend .col;
    }
  }
}
